#DWMyWorkspacesHolder #addWS {
  display: none;
}
#DWMyWorkspacesHolder .text-center {
  text-align: left !important;
}
#DWMyWorkspacesHolder .carousel {
  margin-bottom: 0;
  padding: 0;
}
#DWMyWorkspacesHolder .carousel-inner > .item {
  height: 240px;
}
#DWMyWorkspacesHolder .page .pageItem {
  display: inline-block;
  margin-top: 2.286rem;
  vertical-align: top;
  text-decoration: none;
  height: 4.643rem;
}
#DWMyWorkspacesHolder .page .pageItem > a:hover {
  opacity: 0.5;
  background-color: rgba(0, 0, 0, 0.1);
}
#DWMyWorkspacesHolder .page .pageItem > a:hover img {
  opacity: 0.5;
}
#DWMyWorkspacesHolder .page .pageItem > a:hover .title {
  text-decoration: underline;
}
#DWMyWorkspacesHolder .page .pageItem .details {
  display: inline-block;
  width: calc(100% - 5rem);
  font-size: 0.929rem;
}
#DWMyWorkspacesHolder .page .pageItem .details .title {
  color: #0a4892;
  font-weight: bold;
}
#DWMyWorkspacesHolder .page .pageItem .details .text {
  color: #2e3940;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 1.2rem;
}
#DWMyWorkspacesHolder .page .pageItem .avatarImgWrapper {
  width: 65px;
  height: 65px;
  border-bottom: 3px solid #eb2d2e;
  vertical-align: top;
}


.avatarImgWrapper {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 45px;
    height: 45px;
    display: inline-block;
}


#DWMyWorkspacesHolder .page .pageItem img {
  width: 45px;
  height: 45px;
  border-bottom: 3px solid #eb2d2e;
  vertical-align: top;
}
#DWMyWorkspacesHolder #workspace_sorter_chosen {
  width: 170px !important;
  margin-bottom: 0 !important;
}
#DWMyWorkspacesHolder .carousel-indicators {
  width: 100%;
  border: none;
  background-color: transparent;
  right: auto;
  left: auto;
  bottom: 0;
  top: auto;
  margin-bottom: 0;
  margin-left: 0;
}
#DWMyWorkspacesHolder .carousel-indicators li {
  background-color: gray;
  border: 1px solid gray;
}
#DWMyWorkspacesHolder .carousel-indicators li.active {
  background-color: red;
  border: 1px solid red;
  width: 10px;
  height: 10px;
}
#DWMyWorkspacesHolder a.left.carousel-control {
  color: red;
  background: none;
  opacity: 1;
  top: auto;
  left: -38px;
  bottom: 15px;
  text-shadow: none;
  z-index: 16;
}
#DWMyWorkspacesHolder a.left.carousel-control span {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  font-size: 22px;
}
#DWMyWorkspacesHolder a.left.carousel-control span:before {
  font-family: FontAwesome;
  content: "\f0d9";
}
#DWMyWorkspacesHolder a.right.carousel-control {
  color: red;
  background: none;
  opacity: 1;
  top: auto;
  right: -38px;
  bottom: 15px;
  text-shadow: none;
  z-index: 16;
}
#DWMyWorkspacesHolder a.right.carousel-control span {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  font-size: 22px;
}
#DWMyWorkspacesHolder a.right.carousel-control span:before {
  font-family: FontAwesome;
  content: "\f0da";
}







/*****************************************************************************************************/



.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}

.carousel {
  position: relative;
}
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.carousel-inner > .item {
  position: relative;
  display: none;
  -webkit-transition: .6s ease-in-out left;
       -o-transition: .6s ease-in-out left;
          transition: .6s ease-in-out left;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  line-height: 1;
}
@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-inner > .item {
    -webkit-transition: -webkit-transform .6s ease-in-out;
         -o-transition:      -o-transform .6s ease-in-out;
            transition:         transform .6s ease-in-out;

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-perspective: 1000px;
            perspective: 1000px;
  }
  .carousel-inner > .item.next,
  .carousel-inner > .item.active.right {
    left: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  .carousel-inner > .item.prev,
  .carousel-inner > .item.active.left {
    left: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  .carousel-inner > .item.next.left,
  .carousel-inner > .item.prev.right,
  .carousel-inner > .item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block;
}
.carousel-inner > .active {
  left: 0;
}
.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
.carousel-inner > .next {
  left: 100%;
}
.carousel-inner > .prev {
  left: -100%;
}
.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0;
}
.carousel-inner > .active.left {
  left: -100%;
}
.carousel-inner > .active.right {
  left: 100%;
}
.carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  background-color: rgba(0, 0, 0, 0);
  filter: alpha(opacity=50);
  opacity: .5;
}
.carousel-control.left {
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
  background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .0001)));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  background-repeat: repeat-x;
}
.carousel-control.right {
  right: 0;
  left: auto;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, .5)));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
  background-repeat: repeat-x;
}
.carousel-control:hover,
.carousel-control:focus {
  color: #fff;
  text-decoration: none;
  filter: alpha(opacity=90);
  outline: 0;
  opacity: .9;
}
.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  margin-top: -10px;
}
.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-left {
  left: 50%;
  margin-left: -10px;
}
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right {
  right: 50%;
  margin-right: -10px;
}
.carousel-control .icon-prev,
.carousel-control .icon-next {
  width: 20px;
  height: 20px;
  font-family: serif;
  line-height: 1;
}
.carousel-control .icon-prev:before {
  content: '\2039';
}
.carousel-control .icon-next:before {
  content: '\203a';
}
.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}
.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  border-radius: 10px;
}
.carousel-indicators .active {
  width: 12px;
  height: 12px;
  margin: 0;
  background-color: #fff;
}
.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}
.carousel-caption .btn {
  text-shadow: none;
}
@media screen and (min-width: 768px) {
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -10px;
    font-size: 30px;
  }
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .icon-prev {
    margin-left: -10px;
  }
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-next {
    margin-right: -10px;
  }
  .carousel-caption {
    right: 20%;
    left: 20%;
    padding-bottom: 30px;
  }
  .carousel-indicators {
    bottom: 20px;
  }
}



 .carousel .shaded {
  padding: 10px 15px;
  font-size: 1.214rem;
  width: 100%;
  display: block;
  position: absolute;
  bottom: initial;
  background-color: rgba(0, 0, 0, 0.4) !important;
  margin-top:20px;
}

 .carousel .shaded a {
  text-decoration: none;
}
 .carousel .shaded a:hover {
  text-decoration: none;
}
 .carousel .actions {
  margin-bottom: 0;
  text-align: left;
}
 .carousel .actions .fa {
  /*  display: none; */
}
 .carousel .readmore {
  position: absolute;
  top: 265px;
  left: 0;
  padding: 5px 10px 5px 30px;
  border-radius: 5px;
  color: #fff;
  background-color: #bd2029;
  text-transform: none;
}

 .carousel .readmore a {
  float: left;
  font-family: Arial, sans-serif;
  padding: 0 0px;
  margin-top: 0;
  font-size: 15px;
  font-weight: bold;
  width: 62%;
}
 .carousel .readmore .fa-chevron-right {
  position: absolute;
  top: 12px;
  left: 4px;
  font-size: 0.85em;
}
 .carousel .carousel-indicators {
  padding: 10px;
  width: auto;
  border: 0;
  right: 20px;
  top: auto;
  bottom: 1.4rem;
  height: 40px;
  left: auto;
}
 .carousel .carousel-indicators li {
  margin: 0 10px;
  height: 11px;
  width: 11px;
}
 .carousel-indicators .active {
  height: 11px;
  width: 11px;
}
 .carousel-caption .scwide {
  display: block;
  margin-right: 7px;
}
 .actions span {
  float: left;
  margin-right: 4px;
  text-shadow: 1px 1px 4px #545454;
  cursor: pointer;
}
 .carousel-caption span:hover {
  text-decoration: underline;
}
 .scsmall {
  display: none;
}
 .news-article .posts .actions {
  position: absolute;
  right: 2px;
  text-align: center;
  top: 0;
}
 p {
  word-wrap: break-word;
}


 .carousel .carousel-caption .captionDetailLink:hover {
  text-decoration: underline;
}
 .carousel .carousel-caption a {
  color: #ffffff;
}
 .carousel .carousel-caption .captionTitleLink {
  color: #ffffff;
  margin: 0;
  word-break: break-word;
}
 .carousel .carousel-caption .captionTitleLink:hover {
  text-decoration: underline;
}
 .carousel .carousel-caption h2 {
  border-top: 0px solid transparent;
}
 .carousel .captionText {
  margin-bottom: 15px;
}