/*Donate Section*/


body {
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	color: #454545;
	background-color: #fff;
}

.btn-primary {	
	border:0;
	color:#000;
	background-color:#f7e03f;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 700;
	padding: 12px 27px 10px;
	position: relative;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;	
	letter-spacing:0;
	position:relative;
	box-shadow:none;
	z-index:1;
}

.btn-primary:before, 
.btn-primary:after {
	position:absolute;
	content:"";
	height:100%;
	width:0;
	border-radius:4px;
	z-index:-1;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.btn-primary:before {	
	left:0;
	top:0;
	border-top:2px solid #ffe600;
}

.btn-primary:after {	
	right:0;
	bottom:0;
	border-bottom:2px solid #ffe600;	
}

.btn-primary:hover:before {
	left:0;
	width:100%;
	background-color:rgba(247, 224, 63, 0.7);
}
.btn-primary:hover:after {
	width:100%;
	right:0;
	background-color:rgba(247, 224, 63, 0.7);
}

.btn-primary:hover, 
.btn-primary:focus {
	color:#000;
	background-color:transparent;
	box-shadow: 0px 0px 0px 1px #ffe600;
}


.overlay-bg {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

/*
.form-control {
  height: 55px;
  color: #000;
  border: 1px solid #ededed;
  border-radius: 0;
  box-shadow: none;
  outline: none;
}

.form-control:focus {
  border-color: #ffe600;
  outline: 0;
  -webkit-box-shadow:none;
  box-shadow:none;
}

.form-group {
  margin-bottom: 30px;
}
*/


/*=========Donate Section==========*/
#donate-section {
	padding-top:10px;
}

#donate-section .donate-tab {
	clear:both;
}

.donate-tab .tab-list {
	margin-bottom:85px;
}

.donate-tab .tab-list li a {
	color: #000;
	font-size: 16px;
	font-weight: 600;
	border-radius:4px;
	padding: 10px 20px;
	display:block;
}

.donate-tab .tab-list li.active a, 
.donate-tab .tab-list li.active a:hover {
	background-color:#ffe600;
}

.donate-tab .tab-content {
	margin-bottom:40px;
}

.tab-content .fancy-label .payment-select{
	background-color:#f7f7f7;
	padding:30px 25px;
	cursor:pointer;
	margin-bottom:30px;
	min-height:205px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.tab-content .fancy-label .payment-select:hover, 
.donate-tab .tab-list li a:hover {
	background-color:#f1f1f1;
}

.tab-content .fancy-label .payment-select label {
	cursor:pointer;
	font-weight:400;
}

.tab-content .fancy-label .payment-select.active {
	background-color:#ffe600
}

.tab-content .fancy-label input[type="radio"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  cursor:pointer;
}

.fancy-label .payment-select .amount span {
	color:#000;
	font-weight:500;
	font-size:30px;
	margin:10px 0;
	display:block;
}

.fancy-label .payment-select .description h4 {
	font-weight:500;
}

input#amount {
	border: 2px solid #f2f2f2;
	padding: 8px 12px;
	width: 100%;
	border-radius:4px;
	outline:none;
	margin-bottom:10px;
}

.donate-tab .payment-method ul {
	margin-top:50px;
	margin-bottom:60px;
}

.donate-tab .payment-method ul li {
	margin:0 15px;
}

.donate-tab .btn-primary {
	padding:12px 55px;
}

